:root {
      --dark-background-color: rgb(53, 53, 53);
      --light-text-color: rgb(182, 182, 182);
      --dark-text-color: rgb(26, 26, 26);
}

body {
      font-family: sans-serif;
      margin: 0px;
      color: var(--dark-text-color);
}

a {
      color: inherit; /* Makes link color the same as its parent element's text color */
      text-decoration: none; /* Removes the default underline */
}
